
body{
	background: url(https://images.unsplash.com/photo-1503386435953-66943ba30817?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d414b847aa83183d064683258a95232a&auto=format&fit=crop&w=750&q=80);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
   
	font-family: 'Ubuntu', sans-serif; 
	color: white;
}

#content{
	text-align: center;
	padding: 25%;
}
h1{
	text-shadow: #FC0 1px 0 10px;
	font-weight: 700;
	font-size: 5em;
}
hr
{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0.0.0.0.2);
}